/* reset.css */
html {margin:0;padding:0;border:0;}
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
article, aside, dialog, figure, footer, header, hgroup, nav, section {display:block;}
body {line-height:1.4;background:white;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;float:none !important;}
table, th, td {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:'';}
blockquote, q {quotes:"" "";}
a img {border:none;}
mark {background:none;}

html { height: 100% }
body { height: 100%; margin: 0px; padding: 0px }
#map_canvas { height: 100% }

/* Prevent mobile zooming while remain desktop zooming: github.com/shichuan/mobile-html5-boilerplate/issues/closed#issue/14 */
html { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; } 

.rack {
	max-width: 240px;
	max-height: 192px;
	position: relative;
}
.load {
	display: none;
}
.rack.loading .load {
	display: block;
	background: rgba(255,255,255,.5) url(/images/loading.gif) no-repeat 50% 50%;
	position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
}
.rack p {
	position: absolute;
	background: #fff;
	background: rgba(255, 255, 255, .5);
	top: 0;
	left: 0;
	padding: 5px;
	margin: 0;
	right: 0;
	line-height: 1.1;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.rack img {
	display: block;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
.rack .res {
	background: rgba(255,255,255,.5);
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 28px;
	line-height: 28px;
	z-index: 1;	
	text-align: center;
	list-style: none;
}
.rack .res li {
	float: left;
	width: 50%;
}
.rack .res .icon {
	margin: 0 5px;
}
.icon {
	background: url(/images/icons.png) no-repeat 999em 999em;
	line-height: 28px;
	height: 28px;
	width: 28px;
	position: relative;
}
.icon-lock {
	float: right;
	background-position: 0 50%;
	width: 15px;
}
.icon-bike {
	float: left;
	background-position: -20px 50%;
	width: 25px;
}
.data {
	position: absolute;
	top: 5px;
	right: 0;
	padding: 2px 10px;
	line-height: 100%;
	font-size: 15px;
	text-align: center;
	background-color: #727e94;
	color: #fff;
	text-shadow: 0 0 2px #000;
	min-width: 1.5em;
	font-weight: bold;
	
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.data-bikes {
	right: auto;
	left: 30px;
}
.data-locks {
	right: 20px;
}

.controls {
	margin: 5px;
}
.control-wrap {
	float: left;
}
.control {
	display: block;
	text-decoration: none;
    -moz-user-select: none;

	background: -moz-linear-gradient(top, #FEFEFE, #F3F3F3) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, center top, center bottom, from(#FEFEFE), to(#F3F3F3));
	background: -o-linear-gradient(top, #FEFEFE, #F3F3F3);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FEFEFE', endColorstr='#F3F3F3');
	/*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
	/*Element must have a height (not auto)*/
	/*All filters must be placed together*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FEFEFE', endColorstr='#F3F3F3')";
	/*Element must have a height (not auto)*/
	/*All filters must be placed together*/
	background: linear-gradient(top, #FEFEFE, #F3F3F3);
	/*--IE9 DOES NOT SUPPORT GRADIENT BACKGROUNDS--*/
		
    border: 1px solid #a9bbdf;

	-moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.35);
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.35);

    color: black;
    direction: ltr;
    font-family: Arial,sans-serif;
    font-size: .75em;
    font-weight: normal;
    line-height: 160%;
    min-width: 26px;
    overflow: hidden;
    padding: 0 6px;
    text-align: center;
}
.control:hover {
	border-color: #678ac7;
}
.control-wrap:first-child .control {
    border-radius: 2px 0 0 2px;
}
.control-wrap:last-child .control {
    border-radius: 0 2px 2px 0;
}
.control.active {
	background: -moz-linear-gradient(top, #6D8ACC, #7B98D9) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, center top, center bottom, from(#6D8ACC), to(#7B98D9));
	background: -o-linear-gradient(top, #6D8ACC, #7B98D9);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6D8ACC', endColorstr='#7B98D9');
	/*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
	/*Element must have a height (not auto)*/
	/*All filters must be placed together*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#6D8ACC', endColorstr='#7B98D9')";
	/*Element must have a height (not auto)*/
	/*All filters must be placed together*/
	background: linear-gradient(top, #6D8ACC, #7B98D9);
	/*--IE9 DOES NOT SUPPORT GRADIENT BACKGROUNDS--*/

    color: white;
    font-weight: bold;
	border-color: #678ac7;
}
.control.disabled {
    color: #999;
}
.control.disabled:hover {
    border-color: #a9bbdf;
	cursor: default;
}

@media screen and (max-width: 480px) {
	.control {
		font-size: .875em;
		padding: 4px 8px;
	}
}

#locate {
	display: block;
	cursor: pointer;
	text-indent: -99em;
	width: 32px;
	height: 32px;
	margin: 5px;
	background: url(/images/icons.png) no-repeat -50px 0;
}